# Исключаем виртуальное окружение, Git-файлы и кеш Python
.venv/
__pycache__/
.git/
.gitignore
.DS_Store

# Исключаем логи и временные файлы
*.log
*.tmp

# Исключаем сгенерированные данные (они могут быть большими)
synthetic_data/data/
outputs/
wandb/